<div class="content-wrapper">
    <section class="content-header">
      <h1>
        {{ edit ? 'Update' : 'Add' }} Designation
      </h1>
      <div class="create-box">
      </div>
    </section>
    
      
    <section class="content">
      <!-- Page body start -->
      <div class="page-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
              <div class="card-block">
                <form>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <label>Designation</label>
                      <input type="text" class="form-control" placeholder="Type Designation" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-sm-4">
                      <label>Status</label>
                      <select class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled>--select--</option>
                        <option value="Active">Active</option>
                        <option value="Deactive">Deactive</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <div>
                  <button class="btn btn-warning btn-sm" (click)="submit()">{{ edit ? 'Update' : 'Add' }} Designation</button>&nbsp;
                  <button class="btn btn-light btn-sm" routerLink="/designation/list">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body end -->
    </section>  
    </div>