<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="">
        <a href="/" target="_blank" id="smallLogo" style="background: unset; margin: unset;">
          <img src="assets/img/logo.png" style="height: 20px" alt="" srcset="">
        </a>
        <a href="/" target="_blank" id="largeLogo" style="background: unset; margin: unset;">
          <img src="assets/img/logo.png" style="height: 120px" alt="" srcset="">
        </a>
      </li>
      <li class="treeview">
        <a href="#" class="pull-title text-lg">
          <img src="assets/img/master_icon.png" width="25px">&nbsp;&nbsp;
          <span>Master</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a style="padding-left: unset;" routerLink="/dashboard">
              <div class="sidenav-container">
                <img src="assets/img/dashboard.png" class="item" width="50px">
                <span class="item">Dashboard</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/employees-masters">
              <div class="sidenav-container">
                <img src="assets/img/employee_master.png" width="50px" class="item">
                <span class="item">Employees Master</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/retailers-masters">
              <div class="sidenav-container">
                <img src="assets/img/retailers.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Retailers Master</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/products-master">
              <div class="sidenav-container">
                <img src="assets/img/product.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Product Master</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/product-price-master">
              <div class="sidenav-container">
                <img src="assets/img/price.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Product Price Master</span>
              </div>
            </a>
          </li>
          <!-- <li>
            <a style="padding-left: unset;" routerLink="/policy-master">
              <div class="sidenav-container">
                <img src="assets/img/policy.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Policy Master</span>
              </div>
            </a>
          </li> -->
          <li>
            <a style="padding-left: unset;" routerLink="/orders">
              <div class="sidenav-container">
                <img src="assets/img/order.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Orders</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/scheme">
              <div class="sidenav-container">
                <img src="assets/img/policy.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Scheme</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/allocation">
              <div class="sidenav-container">
                <img src="assets/img/ProgramAllocation.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Allocation</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/area-master">
              <div class="sidenav-container">
                <img src="assets/img/area.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Area Master</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/transport-master">
              <div class="sidenav-container">
                <img src="assets/img/truck.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Transport Master</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/incentive">
              <div class="sidenav-container">
                <img src="assets/img/incentive.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Incentive</span>
              </div>
            </a>
          </li>
          <li>
            <a style="padding-left: unset;" routerLink="/designation">
              <div class="sidenav-container">
                <img src="assets/img/designation.png" class="item" style="width: 30px;margin: 5px 10px;">
                <span class="item">Designation</span>
              </div>
            </a>
          </li>
        </ul>

      </li>
      <li class="treeview">
        <a href="#" class="pull-title text-lg">
          <img src="assets/img/reports.png" width="25px">&nbsp;&nbsp;
          <span>Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#" class="pull-title text-lg">
          <img src="assets/img/activity.png" width="25px">&nbsp;&nbsp;
          <span>Activity</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </section>
</aside>
