<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ edit ? 'Update' : 'Add' }} Product Master
    </h1>
    <div class="create-box">
    </div>
  </section>


  <section class="content">
    <!-- Page body start -->
    <div class="page-body">
      <div class="row">
        <div class="col-sm-12">
          <!-- Basic Form Inputs card start -->
          <div class="card">
            <div class="card-block">
              <form>
                <div class="form-group row">
                  <div class="col-sm-3">
                    <label>Product Code</label>
                    <input type="text" maxlength="6" class="form-control" placeholder="Type Product Code"
                      [(ngModel)]="productCode" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="col-sm-3">
                    <label>Product Name</label>
                    <input type="text" class="form-control" placeholder="Type Product Name" [(ngModel)]="productName"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="col-sm-2">
                    <label>Product Type</label>
                    <div class="form-control" style="border: unset">
                      <ng-container *ngFor="let item of type; let i = index">
                        <label class="radio-inline"><input type="radio" name="type" id="option{{item.name}}" (click)="checkRadio(item.name)">{{item.name}}</label>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <label>Product Hindi Name</label>
                    <input type="text" class="form-control" placeholder="Type Product Hindi Name"
                      [(ngModel)]="productHindiName" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="col-sm-2">
                    <label>Tag</label>
                    <input type="text" class="form-control" placeholder="Type Tag" [(ngModel)]="tag"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-2">
                    <label>UOM</label>
                    <select class="form-control" [(ngModel)]="uom" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled>--select--</option>
                      <option value="Kg">Kg</option>
                      <option value="Pkts">Pkts</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <label>Brand</label>
                    <select class="form-control" [(ngModel)]="brand" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled>--select--</option>
                      <option value="Dust">Dust</option>
                      <option value="Leaf">Leaf</option>
                      <option value="Elaichi">Elaichi</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <label>Group</label>
                    <select class="form-control" [(ngModel)]="group" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled>--select--</option>
                      <option value="Group 1">Group 1</option>
                      <option value="Group 2">Group 2</option>
                      <option value="Group 3">Group 3</option>
                      <option value="Group 4">Group 4</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <label>Size</label>
                    <select class="form-control" [(ngModel)]="size" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled>--select--</option>
                      <ng-container *ngIf="uom === 'Kg'">
                        <option value="13 g">13 g</option>
                        <option value="25 g">25 g</option>
                        <option value="26 g">26 g</option>
                        <option value="50 g">50 g</option>
                        <option value="52 g">52 g</option>
                        <option value="100 g">100 g</option>
                        <option value="250 g">250 g</option>
                        <option value="500 g">500 g</option>
                        <option value="1 kg">1 kg</option>
                        <option value="5 kg">5 kg</option>
                      </ng-container>
                      <ng-container *ngIf="uom === 'Pkts'">
                        <option value="5 Pkts">5 Pkts</option>
                        <option value="10 Pkts">10 Pkts</option>
                        <option value="50 Pkts">50 Pkts</option>
                        <option value="100 Pkts">100 Pkts</option>
                        <option value="250 Pkts">250 Pkts</option>
                        <option value="500 Pkts">500 Pkts</option>
                        <option value="750 Pkts">750 Pkts</option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <label>HSN No</label>
                    <input type="text" class="form-control" placeholder="Type HSN No" [(ngModel)]="hsnNo"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="col-sm-2">
                    <label>Std Size</label>
                    <div class="input-group mb-3">
                      <input type="number" class="form-control" placeholder="Type Std Size" [(ngModel)]="stdSize"
                        [ngModelOptions]="{standalone: true}">
                      <div class="input-group-append">
                        <span class="input-group-text" style="height: 100%;font-size: larger;">KG</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div>
                <button class="btn btn-warning btn-sm" (click)="submit()">{{ edit ? 'Update' : 'Add' }}
                  Product</button>&nbsp;
                <button class="btn btn-light btn-sm" routerLink="/products-master/list">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body end -->
  </section>
</div>