<div class="content-wrapper">
  <div class="resume" id="contentToConvert" #contentToConvert style="height: 1200px;">
    <div class="row" style="width: 700px !important;">
      <div class="col-sm-12">
        <table style="width:100%;height: 30%;border: unset !important;">
          <tr style="height:66pt">
            <td
              style="width:478pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt"
              colspan="11">
              <p class="s2"
                style="padding-left: 157pt;padding-right: 155pt;text-indent: 0pt;line-height: 15pt;text-align: center;">
                ASHOKA INDUSTRIES</p>
              <p class="s3"
                style="padding-top: 1pt;padding-left: 157pt;padding-right: 155pt;text-indent: 0pt;line-height: 112%;text-align: center;">
                A-8, MIDC AJANTI, HINGANGHAT - 442301 DIST : WARDHA (MAHARASHTRA), INDIA Call:+91 8604486045</p>
              <p
                style="padding-left: 120pt;padding-right: 118pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                <a href="mailto:sales@swadchai.com" class="s4" target="_blank">E-Mail : </a><a
                  href="http://www.swadchai.com/" class="s4" target="_blank">sales@swadchai.com, Visit us at
                  www.swadchai.com</a></p>
            </td>
          </tr>

          <tr style="height:11pt">
            <td
              style="width:478pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt"
              colspan="11">
              <p class="s3"
                style="padding-left: 120pt;padding-right: 118pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                GSTIN : 27ABNPM2931J1ZD, FSSAI Lic.No. : 11518057000062</p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Recipient
                Name : {{recipientName}}</p>
            </td>
            <td style="border-bottom: unset !important;" colspan="5">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Proforma
                Invoice No. : #{{proformaInvoiceNo}}</p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Contact
                Person : {{contactPerson}}</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="5">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Date : {{date | date: 'dd MMM yyyy'}}</p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Contact No : {{contactNo}}
              </p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="5">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Transport
                Name : {{transportName}}</p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Address : {{address}}
              </p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="5">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Transport
                Contact : {{transportContact}}</p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">GSTIN : {{gstin}}</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="5">
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">State : {{state}}</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="5">
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="7">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">FSSAI Lic No
                : {{fssailicNo}}</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;" colspan="5">
            </td>
          </tr>

          <tr style="height:12pt">
            <td colspan="11">
            </td>
          </tr>

        </table>
      </div>
      <div class="col-sm-12">
        <table style="width:100%;border: unset !important;">
          <tr style="height:24pt">
            <td
              style="width:1pt;">
              <p class="s5"
                style="padding-top: 6pt;padding-left: 6pt;padding-right: 3pt;text-indent: 0pt;text-align: center;">
                Sr</p>
            </td>
            <td
              style="width:36pt;">
              <p class="s5"
                style="padding-top: 6pt;padding-left: 4pt;padding-right: 2pt;text-indent: 0pt;text-align: center;">
                HSN</p>
            </td>
            <td
              style="width:114pt;">
              <p class="s5" style="padding-top: 6pt;padding-left: 29pt;text-indent: 0pt;text-align: left;">Product
                Name</p>
            </td>
            <td
              style="width:34pt;">
              <p class="s5"
                style="padding-top: 6pt;padding-left: 4pt;padding-right: 2pt;text-indent: 0pt;text-align: center;">
                Size</p>
            </td>
            <td
              style="width:22pt;">
              <p class="s5" style="padding-top: 6pt;padding-right: 2pt;text-indent: 0pt;text-align: right;">bag</p>
            </td>
            <td
              style="width:24pt;">
              <p class="s5" style="padding-top: 6pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">qty</p>
            </td>
            <td
              style="width:37pt;">
              <p class="s5" style="padding-top: 6pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Kg/Pkt</p>
            </td>
            <td
              style="width:49pt;">
              <p class="s5" style="padding-left: 14pt;text-indent: 0pt;text-align: left;">Total</p>
              <p class="s5"
                style="padding-top: 1pt;padding-left: 11pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                Kg/Pkt</p>
            </td>
            <td
              style="width:38pt;">
              <p class="s6"
                style="padding-left: 3pt;padding-right: 2pt;text-indent: 7pt;line-height: 11pt;text-align: left;">
                Cash Discount</p>
            </td>
            <td
              style="width:49pt;">
              <p class="s5" style="padding-top: 6pt;padding-left: 16pt;text-indent: 0pt;text-align: left;">Rate</p>
            </td>
            <td
              style="width:54pt;">
              <p class="s5" style="padding-top: 6pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">Amount</p>
            </td>
          </tr>
          <ng-container *ngFor="let item of items; let i = index">
            <tr style="height:12pt">
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3"
                  style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;">{{i+1}}
                </p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3"
                  style="padding-top: 3pt;padding-left: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                  {{item.hsn}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3"
                  style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                  {{item.productName}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3"
                  style="padding-top: 1pt;padding-left: 3pt;padding-right: 3pt;text-indent: 0pt;text-align: center;">{{item.size}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3" style="padding-right: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;">{{item.bag}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3" style="padding-right: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;">{{item.quantity}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3"
                  style="padding-left: 3pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                  {{item.kgpkt}}
                </p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3" style="padding-right: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;">{{item.totalkgpkt}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3" style="text-indent: 0pt;text-align: right;padding-right: 2pt;">{{item.discount}}%</p>
              </td>
              <td>
                <p class="s3" style="padding-top: 1pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">{{item.rate}}</p>
              </td>
              <td style="border-bottom: unset !important;border-top: unset !important;">
                <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;padding-right: 2pt;">{{item.amount}}
                </p>
              </td>
            </tr>
          </ng-container>  
          
          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
              </p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 1pt;padding-left: 3pt;padding-right: 3pt;text-indent: 0pt;text-align: center;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 1pt;padding-right: 11pt;text-indent: 0pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 1pt;padding-left: 11pt;text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;">SUB TOTAL
              </p>
            </td>
            <td>
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;padding-right: 2pt;">{{subTotal}}</p>
            </td>
          </tr> 
          
          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
              </p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 1pt;padding-left: 3pt;padding-right: 3pt;text-indent: 0pt;text-align: center;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 1pt;padding-right: 11pt;text-indent: 0pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 1pt;padding-left: 11pt;text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
              </p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;padding-right: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 1pt;padding-left: 3pt;padding-right: 3pt;text-indent: 0pt;text-align: center;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 1pt;padding-right: 11pt;text-indent: 0pt;text-align: right;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 1pt;padding-left: 11pt;text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-top: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;"></p>
            </td>
          </tr>

          <tr style="height:13pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
              <p class="s3" style="text-indent: 0pt;text-align: right;">COMMISSION 5%</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">(-)</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
              <p class="s3" style="text-indent: 0pt;text-align: right;padding-right: 2pt;">{{commission}}</p>
            </td>
          </tr>

          <tr style="height:13pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="text-indent: 0pt;line-height: 11pt;text-align: right;">CGST</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">(+)</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="text-indent: 0pt;line-height: 11pt;text-align: right;padding-right: 2pt;">{{cgst}}</p>
            </td>
          </tr>

          <tr style="height:13pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="text-indent: 0pt;line-height: 11pt;text-align: right;">SGST</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 11pt;text-align: left;">(+)</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="text-indent: 0pt;line-height: 11pt;text-align: right;padding-right: 2pt;">{{sgst}}</p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;">ROUND OFF</p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
            <td style="border-bottom: unset !important;border-top: unset !important;">
              <p style="text-indent: 0pt;text-align: left;"></p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td>
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td>
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td>
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;">TOTAL</p>
            </td>
            <td>
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td>
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;padding-right: 2pt;">{{totalBag}}</p>
            </td>
            <td>
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;padding-right: 2pt;">{{totalQty}}</p>
            </td>
            <td>
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td>
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;padding-right: 2pt;">{{totalkgpkt}}</p>
            </td>
            <td>
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;"></p>
            </td>
            <td>
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td>
              <p class="s3" style="text-indent: 0pt;line-height: 10pt;text-align: right;padding-right: 2pt;">{{totalAmount}}</p>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-sm-12">
        <table style="width:100%;border: unset !important;">
          <tr>
            <td colspan="11" style="padding-left: 10px;">
              <p>Amount in words : {{totalAmountInWords}}</p>
            </td>
          </tr>

          <!-- <tr style="height:24pt">
            <td rowspan="2" colspan="2">
              <p class="s3" style="padding-left: 76pt;padding-right: 75pt;text-indent: 0pt;text-align: center;">HSN
              </p>
            </td>
            <td rowspan="2" colspan="2">
              <p class="s3" style="padding-left: 9pt;text-indent: 0pt;text-align: left;">TAXABLE VALUE</p>
            </td>
            <td colspan="3">
              <p class="s3" style="padding-left: 32pt;padding-right: 31pt;text-indent: 0pt;text-align: center;">CGST
              </p>
            </td>
            <td colspan="3">
              <p class="s3" style="padding-left: 33pt;padding-right: 32pt;text-indent: 0pt;text-align: center;">SGST
              </p>
            </td>
            <td rowspan="2" colspan="1">
              <p class="s3" style="padding-left: 11pt;text-indent: -1pt;line-height: 112%;text-align: left;">Total Tax
                Amount</p>
            </td>
          </tr>

          <tr style="height:17pt">
            <td colspan="1">
              <p class="s7"
                style="padding-top: 5pt;padding-left: 3pt;padding-right: 2pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                Rate</p>
            </td>
            <td colspan="2"
              style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s7"
                style="padding-top: 5pt;padding-left: 10pt;padding-right: 8pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                Amount</p>
            </td>
            <td colspan="1">
              <p class="s7"
                style="padding-top: 5pt;padding-left: 8pt;padding-right: 7pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                Rate</p>
            </td>
            <td colspan="2"
              style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s7"
                style="padding-top: 5pt;padding-left: 10pt;padding-right: 8pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                Amount</p>
            </td>
          </tr>

          <tr style="height:15pt">
            <td colspan="2">
              <p class="s3" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;"></p>
            </td>
            <td colspan="2">
              <p class="s3"
                style="padding-top: 3pt;padding-left: 19pt;padding-right: 18pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                </p>
            </td>
            <td colspan="1">
              <p class="s8"
                style="padding-top: 2pt;padding-left: 3pt;padding-right: 2pt;text-indent: 0pt;text-align: center;">
                </p>
            </td>
            <td colspan="2">
              <p class="s9"
                style="padding-top: 2pt;padding-left: 10pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                </p>
            </td>
            <td colspan="1">
              <p class="s8"
                style="padding-top: 2pt;padding-left: 8pt;padding-right: 7pt;text-indent: 0pt;text-align: center;">
                </p>
            </td>
            <td colspan="2">
              <p class="s9"
                style="padding-top: 2pt;padding-left: 10pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                </p>
            </td>
            <td colspan="1">
              <p class="s7" style="padding-top: 4pt;text-indent: 0pt;line-height: 10pt;text-align: right;">
              </p>
            </td>
          </tr>

          <tr style="height:13pt">
            <td colspan="2">
              <p class="s5" style="padding-top: 1pt;text-indent: 0pt;line-height: 10pt;text-align: right;">TOTAL</p>
            </td>
            <td colspan="2">
              <p class="s3"
                style="padding-top: 1pt;padding-left: 19pt;padding-right: 18pt;text-indent: 0pt;line-height: 10pt;text-align: center;">
                </p>
            </td>
            <td colspan="1">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td colspan="2">
              <p class="s9"
                style="padding-top: 1pt;padding-left: 10pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                </p>
            </td>
            <td colspan="1">
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td colspan="2">
              <p class="s9"
                style="padding-top: 1pt;padding-left: 10pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                </p>
            </td>
            <td colspan="1">
              <p class="s3"
                style="padding-top: 1pt;padding-right: 1pt;text-indent: 0pt;line-height: 10pt;text-align: right;">
                </p>
            </td>
          </tr>

          <tr style="height:12pt">
            <td colspan="11">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Tax Amount
                (in words ) :</p>
            </td>
          </tr> -->


          <tr style="height:42pt">
            <td colspan="11">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Terms &amp; Conditions :
                Advance Payment</p>
              <p class="s3"
                style="padding-top: 4pt;padding-left: 79pt;padding-right: 48pt;text-indent: -77pt;line-height: 12pt;text-align: left;">
                FSSAI Declaration : We here by Certify that the goods/foods mention in this invoice are guranteed to
                be the same in nature.</p>
            </td>
          </tr>

          <tr style="height:78pt">
            <td colspan="5">
              <p class="s10" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">PAYMENT INFORMATION<span
                  class="s5"> </span><span class="s3">:</span></p>
              <p class="s3" style="padding-top: 4pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">Bank Name :
                <b>STATE BANK OF INDIA</b></p>
              <p class="s3"
                style="padding-left: 1pt;padding-right: 137pt;text-indent: 0pt;line-height: 15pt;text-align: justify;">
                A/c No. : <b>11286158797 </b>Branch : <b>HINGANGHAT </b>RTGS Code : <b>SBIN0000382</b></p>
            </td>
            <td colspan="6">
              <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Ordered Through</p>
              <p style="text-indent: 0pt;text-align: left;"><br /></p>
              <p class="s3"
                style="padding-left: 1pt;padding-right: 168pt;text-indent: 0pt;line-height: 140%;text-align: left;">
                Name :</p>
              <p class="s3"
                style="padding-left: 1pt;padding-right: 168pt;text-indent: 0pt;line-height: 140%;text-align: left;">
                Contact :</p>
            </td>
          </tr>

          <tr style="border: unset !important;">
            <td colspan="11" style="padding: 10px;border: unset !important;">
              <p>Remark :</p>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>